:root {
  --lblack: #424242;
  --lgreen: #a4cf9b;
  --lblue: #61dafb;
  --grey: #dadada;
  --white: #fff;
  --dgreen: #5a874f;
  --dblack: #222222;
}

.showcase {
  display: -mox-flex;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  justify-content: center;
  align-items: center;
}

.project-section {
  display: flex;
  justify-content: center;
}

#showcase-text {
  margin: 90px 0px 20px 0px;
  font-size: 2.2rem;
  /* background-color: var(--lblack); */
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
}

#showcase-green {
  color: var(--lgreen);
}

.project-card {
  animation: fadeInUp 0.6s ease-out forwards;
  /* background-color: var(--lblack); */
  margin: 10px 0px 10px 0px;
  display: flex;
  width: 55vw;
  justify-self: center;
  border-radius: 30px;
}

/* .project-img {
  padding: 2px;
  margin: 10px;
  background-color: var(--dblack);
  border-radius: 30px;
} */

.project-link {
  display: inline;
}

.project-link:hover {
  color: var(--lblue);
}

.project-title {
  display: inline;
  font-size: large;
  color: var(--lgreen);
}

.project-title:hover {
  color: var(--lblue);
}

.project-text {
  font-size: medium;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 10px 20px 20px;
}

.project-description {
  text-align: left;
  display: block;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
}

.project-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  padding-right: 5px;
}

.project-title:hover .project-arrow {
  transform: rotate(90deg);
  color: var(--lblue);
}

.video-link {
  display: inline-block;
  color: var(--lgreen);
}

.video-link:hover {
  color: var(--lblue);
}

.video-link:hover .project-arrow {
  transform: rotate(90deg);
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
}

.tech-item {
  background-color: var(--lgreen);
  color: var(--dblack);
  padding: 2px 6px 2px 6px;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 10px;
  user-select: none;
}

.tech-item:hover {
  background-color: var(--lblue);
}

.short-description {
  display: none;
}

.line {
  color: var(--lgreen);
  background-color: var(--lgreen);
  padding: 1px;
  margin-top: 60px;
  width: auto;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1006px) {
  .project-container {
    margin: 0;
    padding: 0;
  }

  .project-card {
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 60vw;
    padding: 10px;
  }
  .tech-list {
    align-items: center;
    justify-content: center;
  }

  .tech-item {
    font-size: 0.9rem;
    background-color: var(--lgreen);
    margin-right: 2px;
  }

  .tech-item:last-child {
    margin-right: 0px;
  }

  .project-title {
    font-size: x-large;
    display: flex;
    justify-content: center;
  }

  .project-link {
    width: max-content;
  }

  .project-info {
    text-align: center;
  }

  .project-short {
    width: 90vw;
  }

  .project-description {
    display: none;
  }

  .short-description {
    display: flex;
    width: auto;
    justify-items: center;
    padding: 0px;
    margin: 0px;
  }

  .project-arrow {
    display: none;
  }
}
