:root {
  --lblack: #424242;
  --lgreen: #a4cf9b;
  --lblue: #61dafb;
  --grey: #dadada;
  --white: #fff;
  --dgreen: #5a874f;
  --dblack: #222222;
}

html {
  font-family: var(--scp);
}

#main-container {
  margin-top: 120px;
}

.dev-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  /* background-color: var(--lblack); */
  border-radius: 30px;
  padding: 10px;
}

.dev-info {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}

.title-container {
  line-height: normal;
  padding-bottom: 30px;
  user-select: none;
  text-align: center;
}

.title-name {
  color: var(--lgreen);
}

.subtitle {
  color: var(--grey);
  font-size: 1.8rem;
}

.dev-image {
  width: 20vw;
}

.dev-description {
  font-size: 1.2rem;
}

#profile-picture {
  border-radius: 100%;
  background-color: var(--lgreen);
  border: solid var(--lgreen) 5px;
}

.dev-links {
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

.social-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid var(--lgreen) 1px;
  padding: 2px 7px 2px 7px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.social-link:hover {
  color: var(--lgreen);
  border-radius: 10px;
}

.social-icon {
  margin-left: 5px;
}

#subject-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.subject-box {
  width: 40vw;
  margin: 0px 20px 0px 20px;
}

.subject-title {
  font-size: 1.7rem;
  color: var(--lgreen);
  margin-top: 40px;
}

.subject-box p {
  margin-top: 20px;
}

.edu-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--lgreen);
}

.edu-subtitle {
  font-style: italic;
  font-weight: lighter;
}

.edu-description {
  font-size: 0.9rem;
}

.edu-description li::before {
  content: "▶";
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
  color: var(--lgreen);
}

.edu-link {
  color: var(--lgreen);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.edu-link:hover {
  color: var(--lblue);
}

#skills-container {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.skills-box {
  width: 85vw;
}

.skills-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-title {
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--lgreen);
}

@media screen and (max-width: 1006px) {
  .dev-box {
    flex-direction: column;
    text-align: center;
    margin: 0px;
  }
  .dev-info {
    font-size: 4rem;
    align-items: center;
    /* display: block; */
  }
  .dev-description {
    width: 80vw;
  }

  .dev-image {
    width: 40vw;
  }
  #subject-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .subject-box {
    width: 80vw;
  }
  .dev-links {
    flex-direction: column;
    align-items: center;
  }
  .social-link {
    justify-content: space-between;
    margin-top: 5px;
    width: 40vw;
  }
}
