:root {
  --lblack: #424242;
  --lgreen: #a4cf9b;
  --lblue: #61dafb;
  --grey: #dadada;
  --white: #fff;
  --dgreen: #5a874f;
  --dblack: #222222;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  z-index: 100;
}

.logo {
  font-weight: bold;
  text-decoration: none;
  color: var(--lgreen);
  padding-left: 1.5rem;
}

.header-links {
  transition: color 0.5s ease-in-out;
}

.logo-white {
  color: var(--white);
}

.logo:hover {
  color: var(--lblue);
}

.header-links a {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: var(--white);
  transition: color 0.5s ease-in-out;
  padding-right: 2rem;
}

.header-links a:hover span {
  color: var(--lblue);
}

.about span,
.projects span {
  color: var(--lgreen);
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center;
  color: var(--lgreen);
  padding-bottom: 1px;
  padding-right: 2px;
}

.about:hover .arrow,
.projects:hover .arrow,
.logo:hover .arrow {
  transform: rotate(90deg);
  color: var(--lblue);
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    justify-content: space-between;
  }

  .arrow {
    display: none;
  }
}
